name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake clang clang-format clang-tools cppcheck

      - name: Lint Check
        run: ./task.sh lint

      - name: Static Analysis
        run: ./task.sh analysis

      - name: Build and Run Tests
        run: ./task.sh run
